<%- include('./partials/header.ejs') %>
            <!-- ===== CONTENT ===== -->
            <div class="content">
                <h3 class="mb-4">Dashboard Overview</h3>

                <div class="row g-4">
                    <div class="col-md-3">
                        <div class="card-box">
                            <h6>Total Managers</h6>
                            <h2><%= totalManager %></h2>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card-box">
                            <h6>Total Employees</h6>
                            <h2><%= totalEmployee %></h2>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card-box">
                            <h6>Total Tasks</h6>
                            <h2><%= totalTask %></h2>
                        </div>
                    </div>
                </div>
            </div>
<%- include('./partials/footer.ejs') %>       